body {
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#easy {
  background-color: LightGreen;
  width: 100%;
  border: 2px solid #10be01;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 30px;
  border-radius: 8px;
}

#medium {
  background-color: Gold ;
  border: 2px solid #d6b600;
  width: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 30px;
  border-radius: 8px;
}

#hard {
  background-color: LightSalmon;
  border: 2px solid #ff4930;
  width: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 30px;
  border-radius: 8px;
}



#restart {
  background-color: rgb(81, 57, 214);
  border: 2px solid #6402c0;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
}


#Timer {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  
}

#heading {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.difficulty {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reset {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  min-width: 400px;
  height: 400px;
}