body {
  text-align: center;
  background-color: rgb(255, 255, 255); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(255, 255, 255), rgb(202, 225, 255),rgb(98, 198, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#heading {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

