body {
  text-align: center;

}
#heading {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 1%;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 440px;
  height: auto;
  padding: 10px;

}
